---
layout: layouts/project.njk
title: Alternative Baking | Tiger Town Lab
permalink: alt-baking.html
category: KITCHEN
projectTitle: Alternative Baking
intro: "Sometimes Jen experiments with different flours, egg substitutes, or oil instead of butter and other times she goes for the tried and true pantry staples. Not everything you see here was created using alternative ingredients, but that's the goal Jen is striving for as she continues her baking adventures."
heroImg: images/alt-baking/IMG_7831.jpg
heroAlt: Alternative Baking
rowHeight: 280
allImgs:
  - images/alt-baking/IMG_7831.jpg
  - images/alt-baking/IMG_1861.jpg
  - images/alt-baking/IMG_7882.jpg
  - images/alt-baking/IMG_8718.jpg
  - images/alt-baking/IMG_7355.jpg
  - images/alt-baking/IMG_8039.jpg
  - images/alt-baking/0010C3FE-EBEB-49A3-81A5-AB4CA5E83297.JPG
  - images/alt-baking/cheesecake.JPG
  - images/alt-baking/4ADD1099-18F5-4E2C-9A07-7C29F88E011B.JPG
  - images/alt-baking/IMG_8507.jpg
  - images/alt-baking/IMG_1618.jpg
  - images/alt-baking/IMG_9012.jpg
  - images/alt-baking/IMG_2211.jpg
  - images/alt-baking/IMG_1355.jpg
allCaptions: []
---
      <img class="grid-img" src="images/alt-baking/IMG_1861.jpg" data-index="1" alt="" loading="lazy">
      <img class="grid-img" src="images/alt-baking/IMG_7882.jpg" data-index="2" alt="" loading="lazy">
      <img class="grid-img" src="images/alt-baking/IMG_8718.jpg" data-index="3" alt="" loading="lazy">
      <img class="grid-img" src="images/alt-baking/IMG_7355.jpg" data-index="4" alt="" loading="lazy">
      <img class="grid-img" src="images/alt-baking/IMG_8039.jpg" data-index="5" alt="" loading="lazy">
      <img class="grid-img" src="images/alt-baking/0010C3FE-EBEB-49A3-81A5-AB4CA5E83297.JPG" data-index="6" alt="" loading="lazy">
      <img class="grid-img" src="images/alt-baking/cheesecake.JPG" data-index="7" alt="" loading="lazy">
      <img class="grid-img" src="images/alt-baking/4ADD1099-18F5-4E2C-9A07-7C29F88E011B.JPG" data-index="8" alt="" loading="lazy">
      <img class="grid-img" src="images/alt-baking/IMG_8507.jpg" data-index="9" alt="" loading="lazy">
      <img class="grid-img" src="images/alt-baking/IMG_1618.jpg" data-index="10" alt="" loading="lazy">
      <img class="grid-img" src="images/alt-baking/IMG_9012.jpg" data-index="11" alt="" loading="lazy">
      <img class="grid-img" src="images/alt-baking/IMG_2211.jpg" data-index="12" alt="" loading="lazy">
      <img class="grid-img" src="images/alt-baking/IMG_1355.jpg" data-index="13" alt="" loading="lazy">
