---
layout: layouts/project.njk
title: Bear Car | Tiger Town Lab
permalink: bear-car.html
category: STUDIO
projectTitle: Bear Car
intro: "Jen had always wanted an art car for Burning Man however she never wanted something that was going to be impossible to transport. Garth designed a car that would easily break down into manageable parts and designed it in Jen's favorite bear character, Rilakkuma."
detailsLabel: "Addtional details:"
details: "The car is made from two bicycles joined by parts that Garth fabricated to hold them together. In particular, he linked the front wheels via ball joints which implemented Ackermann steering geometry to drive the car. It is powered by two 350-watt motors. The outer shell is made of PVC pipe and sewn, stretched fabric."
heroImg: images/bear-car/IMG_7506.JPG
heroAlt: Bear Car
rowHeight: 280
allImgs:
  - images/bear-car/IMG_7506.JPG
  - images/bear-car/rainbowbear.gif
  - images/bear-car/IMG_5179.jpg
  - images/bear-car/IMG_5200.jpg
  - images/bear-car/IMG_5202.jpg
  - images/bear-car/IMG_5434.jpg
  - images/bear-car/IMG_5438.jpg
  - images/bear-car/IMG_5469.jpg
  - images/bear-car/IMG_5470.jpg
  - images/bear-car/IMG_5472.jpg
  - images/bear-car/IMG_5543.gif
  - images/bear-car/IMG_5482.jpg
  - images/bear-car/IMG_5566.gif
  - images/bear-car/IMG_5598.jpg
  - images/bear-car/IMG_5602.jpg
  - images/bear-car/IMG_5604.jpg
  - images/bear-car/IMG_0073.jpg
  - images/bear-car/IMG_0074.jpg
  - images/bear-car/IMG_5668.jpg
  - images/bear-car/IMG_5669.jpg
  - images/bear-car/IMG_5678.jpg
  - images/bear-car/IMG_5680.jpg
  - images/bear-car/IMG_5681.jpg
  - images/bear-car/IMG_5684.jpg
  - images/bear-car/IMG_5683.jpg
  - images/bear-car/IMG_6406.jpg
  - images/bear-car/IMG_5700.jpg
  - images/bear-car/IMG_5699.jpg
  - images/bear-car/IMG_5722.jpg
  - images/bear-car/IMG_5706.jpg
  - images/bear-car/IMG_5725.jpg
  - images/bear-car/IMG_5707.jpg
  - images/bear-car/IMG_5709.jpg
  - images/bear-car/IMG_5723.jpg
  - images/bear-car/IMG_5724.jpg
allCaptions: []
---
      <img class="grid-img" src="images/bear-car/rainbowbear.gif" data-index="1" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5179.jpg" data-index="2" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5200.jpg" data-index="3" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5202.jpg" data-index="4" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5434.jpg" data-index="5" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5438.jpg" data-index="6" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5469.jpg" data-index="7" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5470.jpg" data-index="8" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5472.jpg" data-index="9" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5543.gif" data-index="10" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5482.jpg" data-index="11" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5566.gif" data-index="12" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5598.jpg" data-index="13" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5602.jpg" data-index="14" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5604.jpg" data-index="15" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_0073.jpg" data-index="16" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_0074.jpg" data-index="17" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5668.jpg" data-index="18" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5669.jpg" data-index="19" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5678.jpg" data-index="20" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5680.jpg" data-index="21" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5681.jpg" data-index="22" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5684.jpg" data-index="23" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5683.jpg" data-index="24" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_6406.jpg" data-index="25" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5700.jpg" data-index="26" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5699.jpg" data-index="27" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5722.jpg" data-index="28" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5706.jpg" data-index="29" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5725.jpg" data-index="30" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5707.jpg" data-index="31" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5709.jpg" data-index="32" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5723.jpg" data-index="33" alt="" loading="lazy">
      <img class="grid-img" src="images/bear-car/IMG_5724.jpg" data-index="34" alt="" loading="lazy">
