---
layout: layouts/project.njk
title: Boombox Suitcases | Tiger Town Lab
permalink: boombox-suitcases.html
category: STUDIO
projectTitle: Boombox Suitcases
intro: "Jen and Garth were commissioned to create a set of boombox suitcases for their friends' wedding parade. They fabricated the boomboxes with the help of their friends and Garth determined a method for synchronizing them while the wedding party paraded around the wedding site."
detailsLabel: "Addtional details:"
details: "All boomboxes were hand cut and outfitted with recycled car speakers and radio receivers. All radios were tuned to the same station that was being transmitted by someone holding a transmitter that was playing the parade playlist. This allowed all the boomboxes to sync while parading nearly a mile around the wedding site."
heroImg: images/boombox-suitcases/9_6_14_KylaAndBrentWed_1407.jpg
heroAlt: Boombox Suitcases
rowHeight: 280
allImgs:
  - images/boombox-suitcases/9_6_14_KylaAndBrentWed_1407.jpg
  - images/boombox-suitcases/309.png
  - images/boombox-suitcases/671.png
  - images/boombox-suitcases/489.png
  - images/boombox-suitcases/boomboxes.jpg
  - images/boombox-suitcases/IMG_3632.jpg
  - images/boombox-suitcases/IMG_3623.jpg
  - images/boombox-suitcases/IMG_3622.jpg
  - images/boombox-suitcases/IMG_4221.jpg
  - images/boombox-suitcases/IMG_4232.jpg
allCaptions: []
---
      <img class="grid-img" src="images/boombox-suitcases/309.png" data-index="1" alt="" loading="lazy">
      <img class="grid-img" src="images/boombox-suitcases/671.png" data-index="2" alt="" loading="lazy">
      <img class="grid-img" src="images/boombox-suitcases/489.png" data-index="3" alt="" loading="lazy">
      <img class="grid-img" src="images/boombox-suitcases/boomboxes.jpg" data-index="4" alt="" loading="lazy">
      <img class="grid-img" src="images/boombox-suitcases/IMG_3632.jpg" data-index="5" alt="" loading="lazy">
      <img class="grid-img" src="images/boombox-suitcases/IMG_3623.jpg" data-index="6" alt="" loading="lazy">
      <img class="grid-img" src="images/boombox-suitcases/IMG_3622.jpg" data-index="7" alt="" loading="lazy">
      <img class="grid-img" src="images/boombox-suitcases/IMG_4221.jpg" data-index="8" alt="" loading="lazy">
      <img class="grid-img" src="images/boombox-suitcases/IMG_4232.jpg" data-index="9" alt="" loading="lazy">
