---
layout: layouts/project.njk
title: Coffee Roasting | Tiger Town Lab
permalink: coffee-roasting.html
category: KITCHEN
projectTitle: Coffee Roasting
intro: "Jen and Garth both love coffee. In addition to it being more economical to roast their own beans, Garth's passion for learning and perfecting a craft led to him roasting his own coffee. He sources green beans from a variety of regions and is continuing to perfect his roasts."
detailsLabel: "Addtional details:"
details: "Garth uses a Hottop KN-8828B-2K+ to roast his beans."
heroImg: images/coffee-roasting/ACS_0063.jpg
heroAlt: Coffee Roasting
rowHeight: 280
allImgs:
  - images/coffee-roasting/ACS_0063.jpg
  - images/coffee-roasting/IMG_1056.png
  - images/coffee-roasting/IMG_1055.png
allCaptions: []
---
      <img class="grid-img" src="images/coffee-roasting/IMG_1056.png" data-index="1" alt="" loading="lazy">
      <img class="grid-img" src="images/coffee-roasting/IMG_1055.png" data-index="2" alt="" loading="lazy">
