---
layout: layouts/project.njk
title: Coffee Grinder | Tiger Town
permalink: coffee-grinder.html
category: STUDIO
projectTitle: Coffee Grinder
intro: "Jen and Garth love coffee. One year for Jen's Christmas gift, Garth made her this custom coffee grinder. Prior to this project, Jen used a hand burr grinder which was tiring. Garth took apart the grinder and added a motor as well as fabricated custom parts."
detailsLabel: "Addtional details:"
details: "The grinder has a custom PCB which Garth created to house the AVR ATTiny device that he programmed. This controls the automatic grinding function. A three position toggle switch (on-momentary, off, on-momentary) is used to control the grinder; toggling and releasing in one direction will start automatic grinding, where the motor will only turn off when it detects no more coffee is present. Toggling in the other direction will grind until the toggle is released, then stop. Garth custom cut metal and acrylic parts with a water jet and laser cutter. He powder coated the metal to match the acrylic."
heroImg: images/coffee-grinder/IMG_3295.jpg
heroAlt: Coffee Grinder
rowHeight: 280
allImgs:
  - images/coffee-grinder/IMG_3295.jpg
  - images/coffee-grinder/11793411036_2a19d321db_o.jpg
  - images/coffee-grinder/IMG_3227.jpg
  - images/coffee-grinder/IMG_3228.jpg
  - images/coffee-grinder/IMG_3230.jpg
  - images/coffee-grinder/IMG_3231.jpg
  - images/coffee-grinder/IMG_3255.jpg
  - images/coffee-grinder/IMG_3256.jpg
  - images/coffee-grinder/IMG_3258.jpg
  - images/coffee-grinder/IMG_3289.jpg
  - images/coffee-grinder/IMG_3291.jpg
  - images/coffee-grinder/IMG_3292.jpg
  - images/coffee-grinder/IMG_3345.jpg
allCaptions: []
---
      <img class="grid-img" src="images/coffee-grinder/11793411036_2a19d321db_o.jpg" data-index="1" alt="" loading="lazy">
      <img class="grid-img" src="images/coffee-grinder/IMG_3227.jpg" data-index="2" alt="" loading="lazy">
      <img class="grid-img" src="images/coffee-grinder/IMG_3228.jpg" data-index="3" alt="" loading="lazy">
      <img class="grid-img" src="images/coffee-grinder/IMG_3230.jpg" data-index="4" alt="" loading="lazy">
      <img class="grid-img" src="images/coffee-grinder/IMG_3231.jpg" data-index="5" alt="" loading="lazy">
      <img class="grid-img" src="images/coffee-grinder/IMG_3255.jpg" data-index="6" alt="" loading="lazy">
      <img class="grid-img" src="images/coffee-grinder/IMG_3256.jpg" data-index="7" alt="" loading="lazy">
      <img class="grid-img" src="images/coffee-grinder/IMG_3258.jpg" data-index="8" alt="" loading="lazy">
      <img class="grid-img" src="images/coffee-grinder/IMG_3289.jpg" data-index="9" alt="" loading="lazy">
      <img class="grid-img" src="images/coffee-grinder/IMG_3291.jpg" data-index="10" alt="" loading="lazy">
      <img class="grid-img" src="images/coffee-grinder/IMG_3292.jpg" data-index="11" alt="" loading="lazy">
      <img class="grid-img" src="images/coffee-grinder/IMG_3345.jpg" data-index="12" alt="" loading="lazy">
