---
layout: layouts/base.njk
title: Tiger Town
permalink: /
---
    <div class="logo">
      <img src="" alt="Tiger Town">
    </div>

    <div class="hero">
      <div class="hero-line1">Jen and Garth love to create.</div>
      <div class="hero-line2">They collaborate on projects using their collective design and engineering skills. She pushes pixels and makes a mess in the kitchen, and he roasts coffee and builds cool shit. They call their little lab Tiger Town, and this is a portfolio of their projects.</div>
    </div>

    <!-- populated by main.js -->
    <div class="link-grid"></div>
