---
layout: layouts/project.njk
title: Photo Booth | Tiger Town
permalink: photo-booth.html
category: STUDIO
projectTitle: Photo Booth
intro: "Jen has always been obsessed with vintage photo booths. She jumps in one whenever she gets the chance. She and Garth are currently working on a self-contained portable photo booth made with a Raspberry Pi controlling a touch screen, digital camera, and output to a small printer."
wip: true
wipText: "We're still working on this. Hopefully it'll be done one day."
---
