---
layout: layouts/project.njk
title: Vegan Ice Cream | Tiger Town Lab
permalink: vegan-ice-cream.html
category: KITCHEN
projectTitle: Vegan Ice Cream
intro: "Jen's love of ice cream and her body's hatred for dairy have led to her making her own (mostly) vegan ice cream. She was inspired by the small Seattle chain, Frankie & Jo's, whose entire selection of ice cream is plant-based. She loves experimenting with flavor combinations and baking her own mix-ins."
detailsLabel: "Addtional details:"
details: "Jen uses a Cuisinart ICE-100 to churn her ice cream. She makes her own cashew milk with a 1:1 cashew to water ratio yielding ~15% \"milk\" fat."
heroImg: images/ice-cream/sweet+potato+cookie.JPG
heroAlt: Vegan Ice Cream
rowHeight: 280
allImgs:
  - images/ice-cream/sweet+potato+cookie.JPG
  - images/ice-cream/berry+cheesecake.jpg
  - images/ice-cream/ACS_0051.JPG
  - images/ice-cream/ACS_0058.jpg
  - images/ice-cream/blackberry-cheesecake-overhead.JPG
  - images/ice-cream/passionfruit-cheesecake-overhead.jpg
  - images/ice-cream/mango+basil.jpg
  - images/ice-cream/blackberry+lime.jpg
  - images/ice-cream/IMG_8756.jpg
  - images/ice-cream/ACS_0099.JPG
  - images/ice-cream/IMG_9481.JPG
  - images/ice-cream/IMG_9668.jpg
  - images/ice-cream/ACS_0042+2.JPG
allCaptions:
  - Sweet potato cookie crunch
  - Berry cheesecake
  - Peanut butter brownie honeycomb
  - Cherry marzipan mochi brownie
  - Blackberry cheesecake
  - Passionfruit cheesecake
  - Mango basil
  - Blackberry lime
  - Cookie dough
  - Wild berry lavender
  - Carrot cake
  - Coffee chip + cookie dough
  - Mint chip
---
      <img class="grid-img" src="images/ice-cream/berry+cheesecake.jpg" data-index="1" alt="" loading="lazy">
      <img class="grid-img" src="images/ice-cream/ACS_0051.JPG" data-index="2" alt="" loading="lazy">
      <img class="grid-img" src="images/ice-cream/ACS_0058.jpg" data-index="3" alt="" loading="lazy">
      <img class="grid-img" src="images/ice-cream/blackberry-cheesecake-overhead.JPG" data-index="4" alt="" loading="lazy">
      <img class="grid-img" src="images/ice-cream/passionfruit-cheesecake-overhead.jpg" data-index="5" alt="" loading="lazy">
      <img class="grid-img" src="images/ice-cream/mango+basil.jpg" data-index="6" alt="" loading="lazy">
      <img class="grid-img" src="images/ice-cream/blackberry+lime.jpg" data-index="7" alt="" loading="lazy">
      <img class="grid-img" src="images/ice-cream/IMG_8756.jpg" data-index="8" alt="" loading="lazy">
      <img class="grid-img" src="images/ice-cream/ACS_0099.JPG" data-index="9" alt="" loading="lazy">
      <img class="grid-img" src="images/ice-cream/IMG_9481.JPG" data-index="10" alt="" loading="lazy">
      <img class="grid-img" src="images/ice-cream/IMG_9668.jpg" data-index="11" alt="" loading="lazy">
      <img class="grid-img" src="images/ice-cream/ACS_0042+2.JPG" data-index="12" alt="" loading="lazy">
