---
layout: layouts/project.njk
title: Wedding Save the Date | Tiger Town Lab
permalink: wedding-save-the-date.html
category: STUDIO
projectTitle: Wedding Save the Date
intro: "Garth and Jen created a felt stop motion video for their wedding save the date. They designed the scenes in vector format, laser cut all the felt, and then Garth meticulously animated the entire video, scene by scene. Their kitty was the third helper."
heroImg: images/felt-show/IMG_6978.jpg
heroAlt: Felt Show
rowHeight: 280
allImgs:
  - images/felt-show/IMG_6978.jpg
  - images/felt-show/IMG_6969.jpg
  - images/felt-show/IMG_6974.jpg
  - images/felt-show/IMG_6971.jpg
  - images/felt-show/IMG_6976.jpg
  - images/felt-show/IMG_6962.jpg
allCaptions: []
---
      <img class="grid-img" src="images/felt-show/IMG_6969.jpg" data-index="1" alt="" loading="lazy">
      <img class="grid-img" src="images/felt-show/IMG_6974.jpg" data-index="2" alt="" loading="lazy">
      <img class="grid-img" src="images/felt-show/IMG_6971.jpg" data-index="3" alt="" loading="lazy">
      <img class="grid-img" src="images/felt-show/IMG_6976.jpg" data-index="4" alt="" loading="lazy">
      <img class="grid-img" src="images/felt-show/IMG_6962.jpg" data-index="5" alt="" loading="lazy">
